streamlit
pyyaml
python-dotenv

langgraph
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
huggingface-hub

duckduckgo-search

country-state-city

torch
transformers
