streamlit==1.45.1

pyyaml==6.0.2
python-dotenv==1.1.0

langgraph==0.4.7
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-google-genai==2.1.4
langchain-chroma==0.2.4
langchain-huggingface==0.2.0

chromadb==1.0.9

sentence-transformers==4.1.0
transformers==4.51.3
huggingface-hub==0.31.2

torch==2.7.0
torchvision==0.22.0

duckduckgo-search==8.0.2

country-state-city==0.1.0

protobuf==5.29.4
